Pillow
BeautifulSoup4
requests
pyautogui
jupyter
ffmpeg-python
pyaudio
pydub
pygetwindow
winshell
librosa
numpy
sox
tensorflow
gradio==3.41.2
eyed3
mutagen
selenium==3.14.1
tqdm
openai
scenedetect
soundfile 
flask